<section>
  <p style="font-size: 22px;">
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  </p>
</section>
<body>
  <% if @card %>
    <p>
      <%= form_tag review_path, method: :put do %>
        <%= @card.translated %>
        <%= label_tag  "Введите перевод" %>
        <%= text_field_tag :user_translation %>
        <%= hidden_field_tag :id, @card.id %>
        <%= submit_tag "Проверка" %>
    </p>
  <% end %>
  <% else %>
    <p>Нет карточек</p>
  <% end %>
</body>

