<%= simple_form_for @card, multipart: true do |f| %>
  <p>  
    <%= f.input :original %>
    <%= f.input :translated %>
    <%= f.datetime_select :review_date %>
    <%= f.input :picture, as: :file %>
  </p>
  <p>
    <%= f.button :submit, class: "submit" %>
  </p>
<% end %>

<%= link_to 'Назад', cards_path %>