<h1>Редактировать карточку</h1>
<%= simple_form_for @card do |f|  %>
  <p>
    <%= f.text_field :original %>
    <%= f.text_field :translated %>
    <%= f.datetime_select :review_date %>
  </p>
  <p>
    <%= f.button :submit, "Редактировать", class: "submit" %>
  </p>
<% end %>

<%= link_to 'Назад', cards_path %>
