<%= simple_form_for :card, url: cards_path do |f| %>
  <h1>Создать новую карточку</h1>
  <p>
    <%= f.label :original %><br>
    <%= f.input_field :original %><br>
  </p>
  <p>
    <%= f.label :translated %>
    <%= f.input_field :translated %>
  </p>
  <p>
    <%= f.label :review_date %>
    <%= f.datetime_select :review_date %>
  </p>

  <p>
    <%= f.button :submit, "Готово!" %>
  </p>
<% end %>

<%= link_to 'Back', cards_path %>