<!DOCTYPE html>
<html>
<head>
<title>Флэшкарточкер</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    <% if current_user %>
      <%= link_to "Edit Profile", profile_path %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <nav class ="navbar navbar-default">
    <p><%= flash[:success] %></p>
    <p style = "color: red"><%= flash[:error] %></p>
  <section id="container">
    <header class="clearfix">
     <h1>Флэшкарточкер</h1>
       <ul class="navigation-links">
        <li><%= link_to 'All Cards', cards_path %> </li>
        <li><a href="#">Добавьте карточку</a></li>
      </ul>
    </header>

    <%= yield %>
  </section>
    </body>
</html>
